:root {
      --primary: #6c5ce7;
      --bg: #dfe6e9;
      --text: #2d3436;
    }

    html {
    scroll-behavior: smooth; /*para que a transição dos itens sejam mais suaves */
    }

    body {
      font-family: 'Segoe UI', sans-serif;
      background-color: var(--bg);
      color: var(--text);
      display: flex;
      justify-content: center;
      padding: 20px;
    }

    .app-container {
      width: 100%;
      max-width: 800px;
      background: white;
      border-radius: 1.5rem;
      box-shadow: 0 1.0rem 3.0rem rgba(0,0,0,0.1);
      overflow: hidden;
    }

    /* Header */
    header {
      background-color:rgb(95, 154, 241);
      color: white;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }


    footer {
      text-align: center;
      padding: 1.0rem;
      background-color: #f1f1f1;
      color: #636e72;
      font-size: 0.9rem;
    }
